@model biblioteka___nowy_projekt.Models.Zamowienie

@{
    ViewData["Title"] = "Wypożyczenie książki";
}

<h1>Wypożyczanie książki</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CzytelnikId" class="control-label">Czytelnik</label>
                <select asp-for="CzytelnikId" class ="form-control" asp-items="ViewBag.CzytelnikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KsiazkaId" class="control-label">Tytuł książki</label>
                <select asp-for="KsiazkaId" class ="form-control" asp-items="ViewBag.KsiazkaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataZamowienia" class="control-label">Data wypożyczenia</label>
                <input asp-for="DataZamowienia" class="form-control" />
                <span asp-validation-for="DataZamowienia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wypożycz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
